<nav class="shadow sticky-top navbar navbar-expand-lg navbar-light py-3">
  <a routerLink="/acasa" class="navbar-brand" href=""><i class="fa fa-key alt" aria-hidden="true"></i> Cheia.md</a>
  <button style="border: none; outline: none;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/acasa" routerLinkActive="active" class="nav-link" href="">Acasa</a>
      </li>
      <li class="mare nav-item">
        <a routerLink="/produse/toate" routerLinkActive="active" class="nav-link" href="" data-toggle="collapse" data-target=".navbar-collapse.show">Produse</a>
      </li>
      <li class="nav-item">
        <a routerLink="/business" routerLinkActive="active" class="nav-link" href="" data-toggle="collapse" data-target=".navbar-collapse.show">Reduceri</a>
      </li>
      <li class="nav-item">
        <a routerLink="/despre" routerLinkActive="active" class="nav-link" href="" data-toggle="collapse" data-target=".navbar-collapse.show">Despre noi</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contacte" routerLinkActive="active" class="nav-link" href="" data-toggle="collapse" data-target=".navbar-collapse.show">Contacte</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" routerLinkActive="active" class="nav-link" href="" data-toggle="collapse" data-target=".navbar-collapse.show"><i class="fa fa-user"
            aria-hidden="true"></i></a>
      </li>
    </ul>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="collapse" data-target=".navbar-collapse.show"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="collapse" data-target=".navbar-collapse.show"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">RO</a>
            <a class="dropdown-item" href="#">RU</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
