<div style="width: 100%; overflow: hidden;" class="fluid-container mt-5">
<div style="background-image: url(assets/wrapper.jpg);" class="py-5 text-white bg-danger row justify-content-center">
  <div class="col-lg-6 col-md-8 text-center">
    <div>
      <h2 class="">Abonează-te</h2>
    </div>
    <p>Fii primul care are află despre
      promoții și reduceri!</p>
    <div></div>
    <div>
      <form>
        <div class="input-group col-lg-12">
          <input type="text" class="form-control" placeholder="Introdu adresa de e-mail" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="input-group-text bg-danger text-white" id="basic-addon2">Aboneaza-te</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<footer id="sticky-footer" class="py-4 text-black">
  <div class="container text-center">
    <small>Copyright &copy; LACAT@Soltinschi</small>
  </div>
</footer>
