<div class="wrapper">
  <img src="assets/wrapper2.jpg" class="img-responsive" alt="product_wrapper" style="width:100%;">
  <p class="h4 centered text-white"><i class="fa fa-phone" aria-hidden="true"></i> CONTACTE<br><small><a  routerLink="/acasa"><i class="fa fa-home text-white" aria-hidden="true"></i></a></small><small> / Contacte</small></p>
</div>

<div class="mt-5 container">
  <div class="row">
    <div class="col-md-6">
      <p class="h2 text-danger">Informații de contact</p>
      <div
        class="clearfix text-formatted field field--name-field-body field--type-text-long field--label-hidden field__item">
        <p><strong>Sediu central - Republica Moldova:</strong><br>
          bd. Dacia 40/1<br>
          Oficiul 40/Chișinău</p>
        <p><b>România</b><br>
          șoseaua Ploiești 50<br>
          59510PL2/București</p>
        <p><strong>Germania:</strong><br>
          schuf. Hagen Deucth 8/A2<br>
          4898298DL1/Berlin</p>
        <p><strong>CEO &amp; Manager General:</strong><br>
          Soltinschi Ghenadie<br><a href="mailto:ghenadiesolt@gmail.com" target="_blank">ghenadiesolt@lacat.md</a></p>
        <p><strong>Phone:&nbsp;</strong><a href="tel:+373 69020276">+373 69 020 276
            00</a><br><strong>Fax:&nbsp;</strong><a href="tel:+37069476425">+379 09 069 476 408</a><br><strong> Suna
            Acum:&nbsp;
          </strong><a href="tel:444 0 243">022 219 219</a> - <a
            href="tel:0850 250 1 243">069476408</a><br><strong>WhatsApp Contact:&nbsp;</strong><a
            href="tel: 51215151">069 476 408</a></p>
        <p><a href="cheiadeargint.md"></a>Cheia de Argint @ 2020</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-lg-12 col-md-12 mt-4 mt-lg-0">
        <p class="h2 text-danger">Lasă un mesaj</p>
        <div>
          <form>
            <div class="row">
              <div class="form-group col-lg-6"><input placeholder="Nume" id="first-name" name="name" type="text"
                  class="form-control"></div>
              <div class="form-group col-lg-6"><input placeholder="Email" id="email" name="email" type="email"
                  class="form-control"></div>
              <div class="form-group col-12"><input placeholder="Telefon" id="subject" name="phone" type="text"
                  class="form-control"></div>
              <div class="form-group col-lg-12"><textarea placeholder="Mesaj" id="description" name="message" rows="5"
                  class="form-control" style="margin-top: 0px; margin-bottom: 0px; height: 78px;"></textarea></div>
              <div class="col-md-12 d-flex d-inline mt-2">
                <input type="checkbox" id="tab1" name="tab1" value="Bike"><label for="tab1"> Doresc sa primesc mesaje
                  prin SMS cu cele mai bune oferte.</label></div>
              <div class="col-lg d-flex d-inline mt-2">
                <input type="checkbox" id="tab2" name="tab2" value="Bike"><label for="tab2"> Doresc sa primesc mesaje
                  prin SMS cu cele mai bune oferte.</label></div>
              <div class="col-lg-12"><button type="submit" title="Submit Your Message!" id="submitButton" name="submit"
                  value="Submit" class="btn btn-default btn-danger">Trimite</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d87073.64305383139!2d28.78813673920701!3d46.99996477368226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97c3628b769a1%3A0x37d1d6305749dd3c!2sChisinau%2C%20Moldova!5e0!3m2!1sen!2s!4v1585685222877!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0; width: 100%;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
