.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #EB1F25;
}

.wrapper {
  position: relative;
  text-align: center;
  color: white;
}
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
.uneditable-input:focus {   
  border-color: darkred;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 2px darkred;
  outline: 0 none;
}