/* PRODUSE */
.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 220px;
  text-align: center;
}
.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
  color: #333;
  display: inline-block;
  vertical-align: middle;
}

.card-product .price-old {
  color: #999;
}
ul, li:focus{
  outline: none;
  cursor: pointer;;
}

.dropdown div:first-child::after{
  display: none;
}
.dropdown-item:active{
  background-color: darkred;
}
figure{
  transition: box-shadow .3s;
}
figure:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.wrapper {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}