
<!------ Include the above in your HEAD tag ---------->

<div class="container">

<br>  <p class="text-center bg-danger text-white p-2">Reduceri</p>




<div class="row">
<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"><img src="assets/img2.png"></div>
		<figcaption class="info-wrap">
				<h4 class="title">LACAT ELBOR</h4>
				<p class="desc">USA METAL</p>
				<div class="rating-wrap">
					<div class="label-rating"><i class="fa fa-circle text-danger" aria-hidden="true"></i> Stoc redus</div>
					<div class="label-rating"></div>
				</div> 
		</figcaption>
		<div class="bottom-wrap">
			<a href="/comanda" class="btn btn-sm btn-danger float-right">Comanda</a>	
			<div class="price-wrap h5">
				<span class="price-new">130 MDL </span> <del class="price-old">170 MDL</del>
			</div> <!-- price-wrap.// -->
		</div> <!-- bottom-wrap.// -->
	</figure>
</div> <!-- col // -->

<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"><img src="assets/img3.jpg"></div>
		<figcaption class="info-wrap">
				<h4 class="title">LACAT ELBOR</h4>
				<p class="desc">USA METAL</p>
				<div class="rating-wrap">
					<div class="label-rating"><i class="fa fa-circle text-warning" aria-hidden="true"></i> Stoc mediu</div>
					<div class="label-rating"></div>
				</div> 
		</figcaption>
		<div class="bottom-wrap">
			<a href="#" class="btn btn-sm btn-danger float-right">Comanda</a>	
			<div class="price-wrap h5">
				<span class="price-new">130 MDL </span> <del class="price-old">170 MDL</del>
			</div> <!-- price-wrap.// -->
		</div> <!-- bottom-wrap.// -->
	</figure>
</div> <!-- col // -->

<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"><img src="assets/img4.png"></div>
		<figcaption class="info-wrap">
				<h4 class="title">LACAT ELBOR</h4>
				<p class="desc">USA METAL</p>
				<div class="rating-wrap">
					<div class="label-rating"><i class="fa fa-circle text-success" aria-hidden="true"></i> Stoc disponibil</div>
					<div class="label-rating"></div>
				</div> 
		</figcaption>
		<div class="bottom-wrap">
			<a href="#" class="btn btn-sm btn-danger float-right">Comanda</a>	
			<div class="price-wrap h5">
				<span class="price-new">130 MDL </span> <del class="price-old">170 MDL</del>
			</div> <!-- price-wrap.// -->
		</div> <!-- bottom-wrap.// -->
	</figure>
</div> <!-- col // -->

<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"><img src="assets/img5.png"></div>
		<figcaption class="info-wrap">
				<h4 class="title">LACAT ELBOR</h4>
				<p class="desc">USA METAL</p>
				<div class="rating-wrap">
					<div class="label-rating"><i class="fa fa-circle text-danger" aria-hidden="true"></i> Stoc redus</div>
					<div class="label-rating"></div>
				</div> 
		</figcaption>
		<div class="bottom-wrap">
			<a href="#" class="btn btn-sm btn-danger float-right">Comanda</a>	
			<div class="price-wrap h5">
				<span class="price-new">130 MDL </span> <del class="price-old">170 MDL</del>
			</div> <!-- price-wrap.// -->
		</div> <!-- bottom-wrap.// -->
	</figure>
</div> <!-- col // -->

<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"><img src="assets/img6.png.jpg"></div>
		<figcaption class="info-wrap">
				<h4 class="title">LACAT ELBOR</h4>
				<p class="desc">USA METAL</p>
				<div class="rating-wrap">
					<div class="label-rating"><i class="fa fa-circle text-warning" aria-hidden="true"></i> Stoc mediu</div>
					<div class="label-rating"></div>
				</div> 
		</figcaption>
		<div class="bottom-wrap">
			<a href="#" class="btn btn-sm btn-danger float-right">Comanda</a>	
			<div class="price-wrap h5">
				<span class="price-new">130 MDL </span> <del class="price-old">170 MDL</del>
			</div> <!-- price-wrap.// -->
		</div> <!-- bottom-wrap.// -->
	</figure>
</div> <!-- col // -->

<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"><img src="assets/img2.png"></div>
		<figcaption class="info-wrap">
				<h4 class="title">LACAT ELBOR</h4>
				<p class="desc">USA METAL</p>
				<div class="rating-wrap">
					<div class="label-rating"><i class="fa fa-circle text-success" aria-hidden="true"></i> Stoc disponibil</div>
					<div class="label-rating"></div>
				</div> 
		</figcaption>
		<div class="bottom-wrap">
			<a href="#" class="btn btn-sm btn-danger float-right">Comanda</a>	
			<div class="price-wrap h5">
				<span class="price-new">130 MDL </span> <del class="price-old">170 MDL</del>
			</div> <!-- price-wrap.// -->
		</div> <!-- bottom-wrap.// -->
	</figure>
</div> <!-- col // -->
</div> <!-- row.// -->



</div> 
<!--container.//-->